/* importing fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    /* color variables */
    --pureWhite: #ffffff;
    --mainBlue: #0B40F9;
    --dimBlue: #e5efffc5;
    --mainBlack: #01081b;

    /* font variables */
    --poppins: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--pureWhite);
    scroll-behavior: smooth;
    font-family: var(--poppins);
}

#main_container {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.banner {
    width: 100%;
    height: auto;
    background: var(--dimBlue);
}

.banner .navigation {
    width: 100%;
    height: 9vh;
    display: flex;
}

.banner .navigation .logo, 
.banner .navigation .hire_btn,
.banner .navigation .nav_links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .navigation .logo {
    width: 20%;
    height: 100%;
}

.logo h1 {
    width: 50%;
    margin: auto;
    color: var(--mainBlue);
    font-weight: 600;
}

.logo span {
    color: var(--pureWhite) !important;
    -webkit-text-stroke: 0.035em var(--mainBlue);
    text-stroke: 0.035em var(--mainBlue);
}

.banner .navigation .nav_links {
    width: 60%;
    height: 100%;
}

.nav_links ul {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 0.8em;
}

.nav_links ul li a { 
    text-decoration: none;
    color: var(--mainBlack);
}

.active {
    color: var(--mainBlue) !important;
}

.banner .navigation .hire_btn {
    width: 20%;
    height: 100%;
}

.hire_btn button {
    outline: none;
    background: var(--mainBlue);
    color: var(--pureWhite);
    padding: 0.68em 2.2em;
    border: none;
    border-radius: 0.3em;
    font-size: 0.8em;
    font-family: var(--poppins);
}

.banner_content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.banner_content .introduction {
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
}

.introduction h1 {
    font-size: 2.8em;
    -webkit-text-stroke: 0.02em #000000
}

.introduction h1>span {
    color: var(--mainBlue);
    -webkit-text-stroke: 0.02em var(--mainBlue)
}

.introduction p {
    font-size: 0.8em;
    opacity: 0.6    ;
    margin-bottom: 8vh;
}

.introduction .btns {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

.introduction .btns button {
    outline: none;
    background: var(--mainBlue);
    color: var(--pureWhite);
    padding: 1.1em 3.5em;
    border: none;
    border-radius: 2em;
    font-size: 0.8em;
    font-family: var(--poppins);
    cursor: pointer;
}

.introduction .btns p {
    margin-top: 3.8em;
    margin-left: 1.5em;
    color: var(--mainBlue);
    cursor: pointer;
}

.introduction .btns p>span {
    color: var(--mainBlack);
    opacity: 0.6;
}

.personal_image {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.personal_image .circle {
    position: absolute;
    z-index: 2;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal_image .circle img {
    width: 80%;
}

.personal_image img {
    width: 45%;
    border-radius: 2em;
    z-index: 5;
}

.about_me {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about_me .about_me_container {
    width: 90%;
    height: 90%;
    border-radius: 3em;
    display: flex;
    background: var(--dimBlue);
}

.about_me .about_me_container .image_svg {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_svg img {
    width: 80%;
}

.about_me .about_me_container .about_description {
    width: 55%;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_description h1 {
    opacity: 0.9;
    font-size: 1.8em;
    margin-bottom: 0.2em;
}

.about_description p {
    font-size: 0.82em;
    opacity: 0.6;
    line-height: 2em;
}

.about_description>p:nth-child(2) {
    margin-bottom: 2em;
    opacity: 0.3 !important;
}

.about_description .about_btns {
    margin-top: 1.5em;
    display: flex;
    width: 100%;
    height: auto;
}

.about_description .about_btns button {
    outline: none;
    background: var(--mainBlue);
    color: var(--pureWhite);
    padding: 1.1em 3em;
    border: none;
    border-radius: 2em;
    font-size: 0.8em;
    font-family: var(--poppins);
    cursor: pointer;
} 

.download_btn {
    margin-left: 1em;
    background: var(--mainBlack) !important;
}

.projects {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .projects_container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 2em;
    flex-direction: column;
}

.projects_container h1 {
    font-size: 1.8em;
    opacity: 0.9;
}

.projects_container p {
    font-size: 0.82em;
    opacity: 0.6;
    margin-top: 0.4em;
}

.projects_container .cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .project {
    width: 48%;
    height: auto;
    overflow: hidden;
    border-radius: 1em;
    margin-top: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards .project img {
    width: 100%;
    height: auto;
}

.icon_toggle {
    display: none;
}

.contact {
    width: 100%;
    height: auto;
    padding: 4em 0;
}

.form {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin_form {
    width: 30% !important;
    margin-top: 6em;
}

.admin_form .form_container,
.admin_form .form_container .input {
    width: 100% !important;
}

.form h1 {
    font-size: 1.8em;
    opacity: 0.9;
}

.form p {
    font-size: 0.82em;
    opacity: 0.6;
    margin-top: 0.4em;
    text-align: center;
    padding: 0 10%;
}

.form_container {
    width: 60%;
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
}

.form_container .input {
    width: 45%;
    height: auto;
    margin: 1em;
}

.input input {
    width: 90%;
    padding: 1em 1.7em;
    border: none;
    outline: none;
    border: 1px solid var(--mainBlue);
    border-radius: 0.6em;
    font-family: var(--poppins);
}

.text_area {
    width: 100% !important;
    border: none;
}

.input textarea {
    width: 98%;
    padding: 1em;
    outline: none;
    border: 1px solid var(--mainBlue);
    border-radius: 0.6em;
    font-family: var(--poppins);
    
}

.input button {
    outline: none;
    background: var(--mainBlue);
    color: var(--pureWhite);
    padding: 1.1em 3em;
    border: none;
    border-radius: 2em;
    font-size: 0.8em;
    font-family: var(--poppins);
    cursor: pointer;
}

.send_btn {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 9vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3em;
}

.footer p {
    font-size: 0.82em;
    opacity: 0.6;
    margin-top: 0.4em;
    text-align: center;
    padding: 0 10%;
}

.login_form {
    width: 100%;
    height: 68vh;
    margin: 0 0 3em 0;
}

.main_blog_container {
    width: 100%;
    height: auto;
    background: var(--dimBlue);
    padding: 2em 0;
}

.blogs {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 2em;
}

.blogs h1 {
    font-size: 1.8em;
    opacity: 0.9;
}

.blogs p {
    font-size: 0.82em;
    opacity: 0.6;
    margin-top: 0.4em;
}

.blogs_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 9em;
}

.blogs_container .blog {
    width: 30%;
    height: 57vh;
    background: var(--pureWhite);
    border-radius: 0.5em;
    margin-bottom: 2em;
}

.blog .image {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog .image img {
    margin: auto;
    width: 95%;
    margin-top: 0.5em;
}

.blog h2 {
    margin: 0.8em 3.8%;
    opacity: 0.8;
    font-size: 1.2em;
}

.blog p {
    margin: 0.8em 3.8%;
    opacity: 0.5;
}

.blog_container {
    background-color: var(--pureWhite);
    height: auto;
    margin-top: 2em;
    border-radius: 0.7em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 3em;

}

.blog_container .img {
    margin: auto;
    width: 94%;
    padding-top: 3em;
    border-radius: 1em;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.blog_container .img img {
    width: 100%;
}

.blog_container .details {
    margin: auto;
    width: 94%;
    padding-top: 3em;
    border-radius: 1em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    line-height: 2em;
}

.admin_dashboard {
    width: 100%;
    height: 100vh;
    background-color: #C4C4C4;
}

.admin_dashboard .navbar {
    width: 100%;
    height: 9vh;
    background-color: var(--pureWhite);
    display: flex;
}

.navbar .logo, .navbar .profile {
    width: 20%;
    height: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .search {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .search input {
    width: 90%;
    padding: 1em 1.7em;
    border: none;
    outline: none;
    border: 1px solid var(--mainBlue);
    border-radius: 2em;
    font-family: var(--poppins);
}

.admin_dashboard .main_content {
    width: 100%;
    height: 88%;
    display: flex;
    flex-wrap: wrap;
}

.navbar .profile img {
    height: 2.6em;
    width: 2.6em;
    border-radius: 50%;
}

.navbar .profile p {
    font-size: 0.82em;
    opacity: 0.6;
    margin-top: 0.4em;
    font-weight: 600;
    margin-right: 1em;
}


.admin_dashboard .main_content .recent_blogs,
.admin_dashboard .main_content .messages {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin_dashboard .main_content .statists {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 96%;
    height: 98%;
    background: var(--pureWhite);
    border-radius: 0.4em;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: auto;
}

.content::-webkit-scrollbar {
    width: 0.6em !important;
    background: transparent !important;
}

.content::-webkit-scrollbar-thumb {
    width: 0.6em !important;
    background: rgba(0, 0, 0, 0.04) !important;
    border-radius: 0.3em !important;
}

.content h1 {
    margin: 0.8em 3.8% 0.2em;
    opacity: 0.7;
    font-size: 1.2em;
}

.content p {
    font-size: 0.82em;
    opacity: 0.5;
    margin-top: 0.4em;
    font-weight: 600;
    margin-right: 1em;
    margin-left: 3.8%;
}

.content .blogs_container .blog {
    width: 90%;
    margin: auto;
    background: rgba(0, 0, 0, 0.04);
    height: 53vh;
    margin-bottom: 1em;
}
.statistic_general {
    width: 96%;
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.statistic_general .stat_cont {
    width: 32%;
    height: 90%;
    border-radius: 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.stat_cont h1, .stat_cont p {
    margin-left: 10%; 
    color: var(--pureWhite);
    opacity: 1 !important;
}

.stat_cont p {
    opacity: 0.7 !important;
}

.stat_scroll, .subs {
    overflow: hidden !important;
}

.stat_graph {
    width: 100%;
    height: auto;
}

.stat_graph .graph {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat_graph .graph img {
    width: 100%;
}

.blog_actions {
    margin-top: -1em;
}

.blog_actions button {
    outline: none;
    background: var(--mainBlue);
    color: var(--pureWhite);
    padding: 1.1em 3em;
    border: none;
    border-radius: 2em;
    font-size: 0.8em;
    font-family: var(--poppins);
    cursor: pointer; 
    margin-left: 4%;
    margin-top: 0.8em;
}

.blog_actions .delete {
    background: rgba(0, 0, 0, 0.2) !important;
    color: var(--mainBlack) !important;
}

.subscriptions {
    width: 100%;
    height: auto;
    margin: auto;
}

.subscriptions .person {
    width: 94%;
    height: 10vh;
    background: rgba(0, 0, 0, 0.04);
    margin: auto;
    margin-top: 1em;
    border-radius: 0.3em;
    display: flex;
}

.person .img {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person .descript {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.person .descript .names , 
.person .descript .email {
    width: 100%;
}

.names p {
    opacity: 0.9 !important;
}

.email p {
    opacity: 0.3 !important;
}

.person .img .pic {
    width: 2.8em;
    height: 2.8em;
    border-radius: 0.3em;
    background: var(--mainBlue);
}

.pic_even {
    background: #f90b6e !important;
}

.pic_odd {
    background: #0B40F9 !important;
}

.blog_form {
    height: 77vh;
    margin-top: 2em !important;
}

.blog_form .text_area textarea {
    height: 3em;
}

.file_input {
    padding-right: 10em !important;
    width: 100% !important;
}

.file_input .file_field {
    background: var(--pureWhite);
    border-radius: 0.3em;
    width: 100%;
    padding: 0 5.4em;
    border: 1px dashed var(--mainBlue);
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.file_input .file_field .descript {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.file_input .file_field input {
    opacity: 0;
}

/* responsive part*/
@media only screen and (max-width: 600px) {
    .navigation {
        flex-wrap: wrap;
        height: auto !important;
        padding-top: 1em;
    }

    .file_input .file_field {
        padding: 0 4.4em !important;
    }

    .recent_blogs, .statists, .messages {
        width: 100% !important;
    }

    .admin_form {
        width: 100% !important;
        margin-top: 8.5em !important;
    }

    .blog_container .img {
        padding-top: 0.2em;
        height: 20vh;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100% !important;
    }

    .blog {
        width: 100% !important;
        height: 46vh !important;
    }

    .logo h1 {
        width: auto;
    }

    .nav_links {
        transition: .5s ease;
        width: 100% !important;
        position: fixed;
        height: 40vh !important;
        background: var(--pureWhite);
        z-index: 2;
        top: 9vh;
        padding-left: 2em;
        animation: move_menu .5s linear;
        display: none !important;
    }

    .show_menu {
        display: flex !important;
    }

    .logo {
        z-index: 5;
        background: var(--dimBlue);
    }

    @keyframes move_menu {
        0% {
            top: 0;
        }50% {
            top: 9.2vh;
        }100% {
            top: 9vh;
        }
    }

    .nav_links ul {
        width: 100% !important;
        padding: 1em;
        flex-wrap: wrap;
    }

    .nav_links ul li {
        width: 100% !important;
    }

    .hire_btn {
        display: none !important;
    }

    .banner {
        height: auto !important;
    }

    .banner_content {
        flex-wrap: wrap;
    }
    
    .introduction {
        width: 100% !important;
        height: auto !important;
    }

    .introduction>p {
        margin-bottom: 0 !important;
    }

    .btns {
        flex-wrap: wrap;       
        width: 100% !important;
        margin: auto; 
    }

    .btns>button {
        margin-top: 2em;
        width: 90% !important;
        padding: 1.4em !important;
    }

    .btns>p {
        display: none !important;
    }

    .personal_image {
        width: 100% !important;
        height: auto !important;
        padding: 1em 0 !important;
        margin-top: 3em;
    }

    .about_me {
        height: auto !important;
        margin-top: 3em;
    }
    
    .about_me_container {
        flex-wrap: wrap;
    }

    .image_svg {
        width: 100% !important;
        padding: 2em;
    }

    .about_description {
        width: 100% !important;
        align-items: center;
        text-align: center;
        padding: 1em;
    }

    .about_btns {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .about_btns>button {
        padding: 1.5em 0.8em !important;
        width: 90% !important;
        margin: auto !important;
        margin-bottom: 1em !important;
    }

    .projects_container {
        justify-content: center;
        text-align: center;
    }

    .cards {
        flex-wrap: wrap;
    }

    .project {
        width: 98% !important;
        margin: auto !important;
        margin-top: 1.5em !important;
    }

    .icon_toggle {
        width: 50% !important;
        display: flex;
        justify-content: flex-end;
        padding-right: 2em;
        cursor: pointer;
    }

    .contact {
        width: 100%;
        height: auto;
        padding: 4em 0;
        margin: auto;
    }

    .form {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form_container {
        width: 100%;
    }

    .form_container .input {
        width: 95%;
    }

    .form p {
        padding: 0 5%;
    }
    
    .navbar .search {
        display: none;
    }

    .admin_dashboard .navbar .logo {
        background: var(--pureWhite) !important;
        width: 50% !important;
    }
    
    .admin_dashboard .navbar .profile {
        
        width: 50% !important;
    }
}